$primary:            #EC6E4B;
$primary--muted:     #93A3BC;
$secondary:          #48484A;
$secondary--muted:   #CCDDE2;
$secondary--contrast:#ffffff;
$brand:              #56E39F;
$black:              #000000;

$primary-border-radius: 5px;