@import '../../../assets/scss/variables';

.card {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  margin: 0 10px 20px 10px;
  padding: 10px;
  border-radius: $primary-border-radius;
  border: 1px solid rgba($secondary--contrast, 0.6);
  box-shadow: 0 0 5px 0 rgba($primary--muted, 0.8);
  transition: 
    box-shadow 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  &:first-child {
    margin: 0 10px 20px 0;
    @media only screen and (min-width: 1199.98px) {
      margin: 0 10px 20px 10px;
    }
  }
  @media(hover:hover) {
    &:hover {
      cursor: pointer;
      transform: translateY(-5px);
      border: 1px solid $secondary--contrast;
      box-shadow: 0 0 7px 0 rgba($primary--muted, 0.8);
      .title {
        color: $secondary--contrast;
      }
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: $secondary--contrast;
  transition: color 0.3s ease-in-out;
}


.bookmark {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 60px;
  height: auto;
}

.temp {
  font-size: 16px;
  font-weight: 700;
  margin: 0 10px;
  color: $brand;
}
